@import "./../config/imdb-global.scss";
@import "./../config/imdb-variables.scss";
@import "./../config/imdb-breakpoints.scss";

@include desktop {
  .wrapper {
    min-height: calc(100vh - (110px + 50px));
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px 50px;
    &__search {
      width: 100%;
      max-height: 210px;
      background: rgb(70, 61, 61);
      display: flex;
      flex-flow: row wrap;
      padding: 25px 50px;
      max-width: 1420px;
      &__text {
        text-align: center;
        width: 100%;
        color: white;
        font-size: 1.6rem;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50px;
          margin: 0 10px;
          background: rgb(90, 87, 87);
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0 0 5px black;
        }
      }
      &__form {
        width: 100%;
        height: auto;
        &__input {
          width: 100%;
          border-radius: 5px 6px 5px 6px;
          padding: 10px;
          margin: 10px 0;
          font-size: 1.2rem;
          border: 2px solid transparent;
          transition: border 200ms;
          &:focus {
            border: 2px solid black;
            transition: border 200ms;
          }
        }
        &__btn {
          margin: 0 auto;
          display: block;
          padding: 10px 15px;
          background: rgb(5, 62, 148);
          color: white;
          font-size: 1.2rem;
          box-shadow: rgb(5, 62, 148);
          border: 1px solid transparent;
          transition: 400ms;
          border-radius: 5px;
          &:hover {
            transition: 400ms;
            background: #000000;
            border: 1px solid cyan;
          }
        }
      }
    }
    &__results {
      max-width: 1420px;
      &__movie {
        margin: 10px 0;
        width: 100%;
        background: rgb(32, 32, 32);
        display: flex;
        flex-flow: row wrap;
        &__container {
          flex-grow: 1;
          width: 33.33%;
          max-width: 33.33%;
          max-height: 450px;
          display: flex;
          justify-content: center;
          margin: 20px 0;
          img {
            border: 2px solid black;
            min-height: 450px;
            max-width: 100%;
            cursor: pointer;
            transition: 200ms;
            &:hover{
              border: 2px solid rgb(255, 2, 2);
              box-shadow: 0 0 20px rgb(231, 0, 0);
              transition: 200ms;
            }
          }
        }
      }
    }
  }
}
