@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,600,600i,700,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', ;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

button{
    border: none;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

input{
    &:focus{
        outline: none;
    }
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    &:visited{
        color: black;
        text-decoration: none;
    }
}

body{
    background-image: url(https://wallpaperplay.com/walls/full/c/2/f/170697.jpg);
    background-size: stretch;

    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background: rgba(78, 75, 75,.5);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: rgba(78, 75, 75,1);
    }
    &::-webkit-scrollbar-track{
        background: rgba(27, 26, 26, 1);
    }
}

.js--lazyloading{
    background: linear-gradient(90deg, #dfdfdf 8%,#d6d6d6 18%,#dfdfdf 33%);
    background-size: 800px 104px;
    font-size: 0;
    color: transparent;
    transition: all .3s;
    animation-name: placeloader-lazyload;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes placeloader-lazyload {
    0% {
        background-position: 418px;
    }
    100% {
        background-position: -418px;
    }
}

